.list_items
	each publication in publications
		.list_item
			a.item_rm.publication(href='#', id=publication._id) -- удалить
			a.item_title(href='/admin/publications/edit/' + publication._id, class=publication.status =='hidden' ? 'hidden': '')= (publication.i18n.title.get('ru') || '!!! ПУСТОЕ ПОЛЕ !!!')

.list_counter
	a.list_back(href='#'): b назад
	span= ' - '
	select.list_select
		- var i = 0;
		while i < count
			option(value=i selected= (i == skip / 10) )= i+1
			- i++
	span= ' - '
	a.list_next(href='#'): b вперед