extends layout

block header_meta
	- var content_title = 'STUDIO SHOO | ' + __('О нас')
	- var content_description= ''
	- var menu_active = 'about'

block header_include
	- var include_css = ['about.css']
	//- - var include_js = ['about.js']

block content

	.content_section.x1
		a.anchor#about
		.section_inner
			.column_item.about
				.column_title= __('О нас')
				.column_s_title= __('Философия')
				.column_body.text!= philosophy

	.content_section.x1
		a.anchor#contacts
		.section_inner
			.column_item.contacts
				.column_title= __('Контакты')
				.column_body
					div +7 985 187 13 41
					br
					div= __('Общие вопросы') + ':'
					div: a(href='mailto:info@studioshoo.com') info@studioshoo.com
					br
					div= __('Работа и стажировка') + ':'
					div: a(href='mailto:hr@studioshoo.com') hr@studioshoo.com
					br
					div= __('Подрядчики') + ':'
					div: a(href='mailto:supply@studioshoo.com') supply@studioshoo.com
					br
					div PR: #[a(href='mailto:pr@studioshoo.com') pr@studioshoo.com]

			.column_item.social
				.column_title.none &nbsp;
				.column_body
					a.item.link(href='https://www.facebook.com/studioshoo', target='_blank'): span Facebook*
					a.item.link(href='https://www.instagram.com/studio_shoo', target='_blank'): span Instagram*
					a.item.link(href='https://www.pinterest.ru/STUDIO_SHOO/_saved', target='_blank'): span Pinterest
					a.item.link(href='https://www.behance.net/shushu14051c2d', target='_blank'): span Behance
					br
					br
					small= __('*запрещен в РФ, Meta Platforms Inc. признана экстремистской организацией на территории РФ')


	.content_section.x2
		.section_inner
			- var image = images.filter(function(img) {return img.indexOf('image_1') !== -1 })

			if image.length
				video.content_image(autoplay=true, loop=true, muted=true, playsinline=true, controls=false, poster=src='/cdn/about/' + image[0], src='/cdn/about/' + image[0])


	.content_section.x1
		.section_inner

			if how_work.length
				.column_item.how_work
					.column_s_title= __('Как мы работаем')
					.column_body.text!= how_work


	.content_section.x1
		.section_inner

			if our_service.length
				.column_item.our_service
					.column_s_title= __('Наши услуги')
					.column_body!= our_service

			if clients.length
				.column_item.clients
					.column_s_title= __('Наши клиенты')
					.column_body!= clients


	.content_section.x2
		.section_inner
			- var image = images.filter(function(img) {return img.indexOf('image_2') !== -1 })

			if image.length
				video.content_image(autoplay=true, loop=true, muted=true, playsinline=true, controls=false, poster=src='/cdn/about/' + image[0], src='/cdn/about/' + image[0])


	.content_section.x1
		a.anchor#team
		.section_inner

			if our_team.length
				.column_item.our_team
					.column_s_title= __('Наша команда')
					.column_body.text!= our_team


	.content_section.x1
		a.anchor#vacancies
		.section_inner

			if peoples.length
				.column_item.team
					.column_title= __('Команда')
					.column_body.list
						- var peoples_types = static_types.peoples_types.map(function(p_type) { return {p_type: p_type, peoples: peoples.filter(function(people) { return people.type == p_type })} })
						each p_type in peoples_types
							if p_type.peoples.length > 0
								.list_item
									.people_type= __n(p_type.p_type, p_type.peoples.length) + ':'
									each people in p_type.peoples
										if p_type.p_type == people.type
											.people_name= people.i18n.name.get(locale)

			if vacancies.length
				.column_item.vacancies
					.column_title= __('Вакансии')
					.column_body!= vacancies

