extends layout

block header_meta
	- var content_title = 'STUDIO SHOO'
	- var content_description= ''
	- var menu_active = 'main'

block header_include
	- var include_libs_css = ['swiper-bundle.min.css']
	- var include_css = ['main.css']
	- var include_libs_js = ['swiper-bundle.min.js']
	- var include_js = ['main.js']

block content
	- var projects_slider = projects.filter(function(project) { return project.main == 'slider' })
	- var projects_columns = projects.filter(function(project) { return project.main == 'column' })

	if projects_slider.length
		.projects_slider
			.slider_block.swiper-container
				.swiper-wrapper
					each project, i in projects_slider
						a.slide_item.swiper-slide(href='/projects/' + project.type + '/' + (project.sym || project._short_id))
							.slide_image(style='background-image: url(' + project.poster + ')')
							.slide_columns
								.column_item.left
									.project_type= __(project.type)
									.project_build= project.build_date.getFullYear()
								.column_item.right
									.project_title= project.i18n.title.get(locale)
									.project_category= project.category && project.category.i18n.title.get(locale)
								.column_item.counter
									.project_counter= (i + 1) + ' / ' + projects_slider.length


	if projects_columns.length
		.projects_columns
			include projects/_projects.pug

