doctype html
html(lang=locale)
	head
		include header
		if node_env == 'production'
			include counters
	body(class=menu_active)
		.header_block
			.title_block
				a.logo(href='/'): img(src= logo_title || '/stuff/shoo/icons/logo.svg')

				.types_block
					each p_type in project_types
						.type_item(class=p_type.type)
							a.type_main(class=(menu_active == p_type.type) && 'active', href='/projects/' + p_type.type)= __(p_type.type)
							.type_categorys
								each category in p_type.categorys
									- var p_category = category.sym || category._short_id
									a.type_category(href='/projects/' + p_type.type + '#' + p_category, data-category=p_category)= category.i18n.title.get(locale)

					.type_item
						a.type_main(class=(menu_active == 'all') && 'active', href='/projects')= __('Все проекты')

				.menu_drop
					span
					span
					span
					span

			.search_block
				input.search_input(type='text', placeholder='Поиск...')
				.search_results

			.menu_block
				if (session && session.user_id)
					.stargazer_block
							a(href='/auth') Stargazer
							a(href='/auth/logout') Выход
							br

				a.menu_item(href='/about')= __('О нас')
				//- a.menu_item(href='/about#contacts')= __('Контакты')
				//- a.menu_item(href='/about#vacancies')= __('Вакансии')
				if (session && session.user_id)
					a.menu_item(href='/publications')= __('Публикации')
					a.menu_item(href='/news')= __('Новости')
				br

				if (session && session.user_id)
					.locale_block
						a.menu_item(href='/lang/en', class=(locale == 'en' ? 'active' : '')) Eng
						a.menu_item(href='/lang/ru', class=(locale == 'ru' ? 'active' : '')) Rus
						br

				a.search_open(href='#')= __('Поиск')

		.outer_block
			block outer

		.content_block
			block content

		.footer_block
			.column.s_links
				//- a(href='https://www.facebook.com/studioshoo', rel='nofollow noopener', target='_blank'): span Facebook
				a(href='https://www.linkedin.com/in/shushana-khachatrian-784a921a7', rel='nofollow noopener', target='_blank'): span LinkedIn
				a(href='https://www.instagram.com/studio_shoo', rel='nofollow noopener', target='_blank'): span Instagram
				//- a(href='https://www.pinterest.ru/STUDIO_SHOO/_saved', rel='nofollow noopener', target='_blank'): span Pinterest
				a(href='https://www.behance.net/studio_shoo', rel='nofollow noopener', target='_blank'): span Behance

			//- .column.spoiler
				small= __('*запрещен в РФ, Meta Platforms Inc. признана экстремистской организацией на территории РФ')

			.column.contacts
				div= __('Ереван, Армения')
				div +374 55 664 651
				br
				div= __('Милан, Италя')
				div +39 351 591 5960

			.column.contacts
				div= __('Общие вопросы') + ':'
				div: a(href='mailto:info@studioshoo.com') info@studioshoo.com
				br
				div= __('Работа и стажировка') + ':'
				div: a(href='mailto:hr@studioshoo.com') hr@studioshoo.com

			.column.contacts
				div= __('Подрядчики') + ':'
				div: a(href='mailto:supply@studioshoo.com') supply@studioshoo.com
				br
				//- div PR: #[a(href='mailto:pr@studioshoo.com') pr@studioshoo.com]
				div PR:
				div #[a(href='mailto:pr@studioshoo.com') pr@studioshoo.com]
				div #[a(href='mailto:hello@studioshoo.com') hello@studioshoo.com]

			.column.copy
				div!='&copy; STUDIO SHOO' + '<br>' + new Date().getFullYear() + '<br><br>' + __('Все права защищены.')
