doctype html
html(lang=locale)
	head
		include header
	body(class=menu_active)
		.main_block
			.title_block
				a.logo(href='/'): img(src='/stuff/shoo/icons/logo.svg')

				each p_type in project_types
					.type_item(class=p_type.type)
						a.type_main(class=(menu_active == p_type.type) && 'active', href='/projects/' + p_type.type)= __(p_type.type)
						.type_categorys
							each category in p_type.categorys
								a(href='/projects/' + p_type.type + '#' + (category.sym || category._short_id))= category.i18n.title.get(locale)

				.type_item.all
					a.type_main(href='/projects')= __('Все проекты')

				.menu_drop
					span
					span
					span
					span

			.menu_block
				a.menu_item(href='/news') News
				a.menu_item(href='/about') About
				a.menu_item(href='/about#contacts') Contacts
				a.menu_item(href='/about#publications') Publications
				a.menu_item(href='/about#team') Team
				a.menu_item(href='/about#vacancies') Vacancies
				a.menu_item(href='/about#awards') Awards

				if (session && session.user_id)
					.stargazer_block
							a(href='/auth') stargazer
							span= ' | '
							a(href='/auth/logout') выход

				.locale_block
					a(href='/lang/ru', class=(locale == 'ru' ? 'active' : '')) Ru
					a(href='/lang/en', class=(locale == 'en' ? 'active' : '')) En

				.search_open Search

			.content_block
				block content

			.footer_block
				.column.social
					a(href='https://www.facebook.com/studioshoo', target='_blank') Facebook
					a(href='https://www.instagram.com/studio_shoo', target='_blank') Instagram
					a(href='https://www.pinterest.ru/STUDIO_SHOO/_saved', target='_blank') Pinterest
					a(href='https://www.behance.net/shushu14051c2d', target='_blank') Behance

				.column.contacts
					div +7 985 187 13 41
					br
					div General Enquiries:
					div: a(href='mailto:info@studioshoo.com') info@studioshoo.com

				.column.contacts
					div Jobs & Internships:
					div: a(href='mailto:hr@studioshoo.com') hr@studioshoo.com
					br
					div PR: #[a(href='mailto:pr@studioshoo.com') pr@studioshoo.com]

				.column.copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

		include counters

