doctype html
html(lang=locale)
	head
		include header
	body(class=menu_active)
		.header_block
			.title_block
				a.logo(href='/'): img(src='/stuff/shoo/icons/logo.svg')

				each p_type in project_types
					.type_item(class=p_type.type)
						a.type_main(class=(menu_active == p_type.type) && 'active', href='/projects/' + p_type.type)= __(p_type.type)
						.type_categorys
							each category in p_type.categorys
								a(href='/projects/' + p_type.type + '#' + (category.sym || category._short_id))= category.i18n.title.get(locale)

				.type_item
					a.type_main(class=(menu_active == 'all') && 'active', href='/projects')= __('Все проекты')

				.menu_drop
					span
					span
					span
					span

			.menu_block
				if (session && session.user_id)
					.stargazer_block
							a(href='/auth') Stargazer
							a(href='/auth/logout') Выход

				a(href='/news') News
				a(href='/about') About
				a(href='/about#contacts') Contacts
				a(href='/about#publications') Publications
				a(href='/about#team') Team
				a(href='/about#vacancies') Vacancies
				a(href='/about#awards') Awards

				.locale_block
					a(href='/lang/en', class=(locale == 'en' ? 'active' : '')) Eng
					a(href='/lang/ru', class=(locale == 'ru' ? 'active' : '')) Rus

				.search_open Search

		.content_block
			block content

		.footer_block
			.column.social
				a(href='https://www.facebook.com/studioshoo', target='_blank'): span Facebook
				a(href='https://www.instagram.com/studio_shoo', target='_blank'): span Instagram
				a(href='https://www.pinterest.ru/STUDIO_SHOO/_saved', target='_blank'): span Pinterest
				a(href='https://www.behance.net/shushu14051c2d', target='_blank'): span Behance

			.column.contacts
				div +7 985 187 13 41
				br
				div= __('Общие вопросы') + ':'
				div: a(href='mailto:info@studioshoo.com') info@studioshoo.com

			.column.contacts
				div= __('Работа и стажировка') + ':'
				div: a(href='mailto:hr@studioshoo.com') hr@studioshoo.com
				br
				div PR: #[a(href='mailto:pr@studioshoo.com') pr@studioshoo.com]

			.column.copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

		include counters

