extends ../layout

block header_meta
	- var content_title = 'Studio Shoo | ' + __(project.type) + ' | ' + project.i18n.title.get(locale)
	- var content_description= ''
	- var menu_active = project.type

block header_include
	- var include_libs_css = ['swiper-bundle.min.css']
	- var include_css = ['project.css']
	- var include_libs_js = ['swiper-bundle.min.js']
	- var include_js = ['project.js']

block content

	.project_header
		.project_title= project.i18n.title.get(locale)
		.project_build= project.build_date.getFullYear()
		if project.category
			.project_category= project.category.i18n.title.get(locale)

	.project_poster(style='background-image: url(' + project.poster + ')')

	.project_body
		.project_description!= project.i18n.description.get(locale)
		.project_columns
			.column_item
				.column.title Информация
				.column.body
					.line_item
						.line_title Название
						.line_body= project.i18n.title.get(locale)
					.line_item
						.line_title Дата
						.line_body= project.build_date.getFullYear()
					.line_item
						.line_title Площадь
						.line_body= project.i18n.area.get(locale)
					.line_item
						.line_title Локация
						.line_body= project.i18n.location.get(locale)
					.line_item
						.line_title Уровень
						.line_body= project.i18n.level.get(locale)
			.column_item
				.column.title Команда
				.column.body
					each people in project.peoples
						.line_item
							.line_title= __(people.type)
							.line_body= people.i18n.name.get(locale)

	.project_images
		each item in images
			if item.length
				- var g_size = 'g_0x'
				if item.every(function(item) { return item.size == '2x' })
					- g_size = 'g_2x'
				else if item.every(function(item) { return item.size == '1x' })
					- g_size = 'g_1x'
				.slider_block(class=g_size)
					.swiper-container
						.swiper-wrapper
							each image, i in item
								.swiper-slide
									.swiper-lazy.slide_image(data-background=image.thumb)
									.slide_body
										- var description = image.description.filter(function(lang) { return lang.lg == locale })
										.slide_description= description.length ? description[0].value : ''
										.slide_counter= (i+1) + ' / ' + item.length
					.swiper-arrows
						.arrow-left
						.arrow-right

			else
				.image_item(class='size_' + item.size)
					.image(style='background-image: url(' + item.thumb + ')')
					- var description = item.description.filter(function(lang) { return lang.lg == locale })
					.image_description= description.length ? description[0].value : ''

		.project_sim
			each project in sim_projects
				b= project

