extends ../layout

block header_meta
	- var content_title = 'STUDIO SHOO | ' + __(project.type) + ' | ' + project.i18n.title.get(locale)
	- var content_description= project.i18n.intro.get(locale)
	- var content_images = [project.poster]
	- var menu_active = project.type
	- var logo_title = project.logo

block header_include
	- var include_libs_css = ['swiper-bundle.min.css']
	- var include_css = ['project.css']
	- var include_libs_js = ['swiper-bundle.min.js']
	- var include_js = ['project.js']

block content

	.project_header
		.column_item.left
			.project_type= __(project.type)
			if project.category
				.project_category= project.category.i18n.title.get(locale)
		.column_item.right
			.project_title= project.i18n.title.get(locale)
			.project_build= project.build_date.getFullYear()


	.project_poster(style='background-image: url(' + project.poster + ')')


	.project_body
		.project_description!= project.i18n.description.get(locale)
		.project_columns
			.column_item
				.column.title= __('Информация')
				.column.body
					.line_item
						.line_title= __('Название')
						.line_body= project.i18n.title.get(locale)

					.line_item
						.line_title= __('Дата')
						.line_body= moment(project.build_date).locale(locale).format('MMMM YYYY')

					if project.i18n.area.get(locale)
						.line_item
							.line_title= __('Площадь')
							.line_body= project.i18n.area.get(locale)

					if project.i18n.location.get(locale)
						.line_item
							.line_title= __('Локация')
							.line_body= project.i18n.location.get(locale)

					if project.i18n.level.get(locale)
						.line_item
							.line_title= __('Этажи')
							.line_body= project.i18n.level.get(locale)

			if project.peoples.length
				.column_item
					.column.title= __('Команда')
					.column.body
						each people in project.peoples
							.line_item
								.line_title= __(people.type)
								.line_body= people.i18n.name.get(locale)


	.project_gallery
		each item in images
			if item.length
				- var g_size = 'g_0x'
				if item.every(function(item) { return item.size == '2x' })
					- g_size = 'g_2x'
				else if item.every(function(item) { return item.size == '1x' })
					- g_size = 'g_1x'
				.slider_block(class=g_size)
					.swiper-container
						.swiper-wrapper
							each image, i in item
								.swiper-slide
									.swiper-lazy.slide_image(data-background=image.thumb)
									.slide_body
										- var description = image.description.filter(function(lang) { return lang.lg == locale })
										.slide_description= description.length ? description[0].value : ''
										.slide_counter= (i+1) + ' / ' + item.length
					.swiper-arrows
						.arrow-left
						.arrow-right
			else
				.image_item(class='size_' + item.size)
					.image(style='background-image: url(' + item.thumb + ')')
					- var description = item.description.filter(function(lang) { return lang.lg == locale })
					.image_description= description.length ? description[0].value : ''


	.project_bottom
		.project_columns.right
			if project.i18n.brands.get(locale)
				.column_item
					.column.title= __('Материалы')
					.column.body
						.line_item
							.line_body!= project.i18n.brands.get(locale)

			if publications.length
				.column_item
					.column.title= __('Публикации')
					.column.body
						.line_item
							//- .line_title
							.line_body
								each publication in publications
									a.item.link(href=publication.link, target='_blank'): span= publication.i18n.title.get(locale)

			if awards.length
				.column_item
					.column.title= __('Награды')
					.column.body
							.line_item
								//- .line_title
								.line_body
									each award in awards
										.item.list= award.i18n.title.get(locale)


	if sim_projects.length
		.project_sim
			- var sim_category = project.category ? project.category.i18n.title.get(locale) : ''
			.sim_title!= __('Еще') + '<br>' + __(project.type) + ': ' + sim_category
			.sim_projects
				each project in sim_projects
					a.project_item(href='/projects/' + project.type + '/' + (project.sym || project._short_id))
						.project_images
							.project_image(data-src=project.poster)
							each image in project.images.filter(function(image) { return image.main })
								.project_image(data-src=image.thumb)
						.project_columns
							.column_item.left
								.project_type= __(project.type)
								.project_build= project.build_date.getFullYear()
							.column_item.right
								.project_title= get_locale(project.title, locale)
								.project_category= sim_category

